name: CI with Build and SCA (Practice 4)

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build project
    runs-on: ubuntu-latest

    container:
      image: eclipse-temurin:21-jdk

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build, test and package
        run: ./mvnw clean package

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jar-artifacts
          path: target/*.jar

  sca:
    name: SCA Dependency Check
    runs-on: ubuntu-latest
    needs: build

    container:
      image: eclipse-temurin:21-jdk

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Run OWASP Dependency-Check
        run: |
          ./mvnw org.owasp:dependency-check-maven:check \
            -Dformat=HTML \
            -DoutputDirectory=dependency-check-report

      - name: Upload Dependency-Check report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: dependency-check-report

