name: CI with Build and SCA (Practice 4)

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build project
    runs-on: ubuntu-latest
    container:
      image: eclipse-temurin:21-jdk
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build, test and package
        run: ./mvnw clean test package

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: target/*.jar

  sca:
    name: SCA Dependency Check
    runs-on: ubuntu-latest
    needs: build
    container:
      image: eclipse-temurin:21-jdk
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Run OWASP Dependency-Check
        run: ./mvnw -DskipTests dependency-check:check || true

      - name: Upload Dependency-Check report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: |
            target/dependency-check-report.html
            target/dependency-check-report.xml
            target/dependency-check-report.json

